* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --base-distance: 4rem;
    --top-distance: 6.2rem;
    --base-margin: 9.6rem;
    --base-text-size: 1.2rem;
}
html{
    font-size: 62.5%;
}
nav {
    position: fixed;
    top: 0;
    width: calc(100% - var(--base-margin)*2);
    height: calc(12.8rem + 6.2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: var(--base-margin);
    padding-right: var(--base-margin);
    z-index: 9999;
}
ul {
    list-style: none;
    display: flex;
    gap: 7.8rem;
}
li {
    margin: 0 auto;
    padding: 4rem 0;
}
a, a:active, a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #4da3ff;
}
body {
    background: url("img/fundo.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    height: 100vh;
    color: white;
    animation: diagonal-slide 30s linear infinite alternate;
}
@keyframes diagonal-slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% -100%; 
  }
}
h2 {
    font-size: 3.6rem;
    margin-bottom: 8rem;
}
p {
    font-size: 1.6rem;
}
.logo {
    width: 12.8rem; height: 12.8rem;
    object-fit: contain;
    filter: saturate(0) brightness(20);
}
.hamburger span {
    font-size: 2.8rem;
    font-weight: bolder;
    color: white;
}
.ativo {
    display: flex;
}
#principal {
    top: 20%;
    font-size: calc(var(--base-text-size)*12);
    text-transform: uppercase;
}
#subtitulo {
    top: calc(20% + var(--base-text-size)*12 + var(--base-distance));
    font-size: calc(var(--base-text-size)*6);
}
#texto-chamada {
    top: calc(20% + var(--base-text-size)*12 + var(--base-text-size)*6 + var(--base-distance)*2);
    font-size: calc(var(--base-text-size)*3);
}
#principal, #subtitulo, #texto-chamada {
    position: absolute;
    margin-left: var(--base-margin);
}
#botao-cta {
    margin: 0; padding: 0;
    outline: none;
    border: none;
    width: 100%;
    height: 7.8rem;
    background-color: #4da3ff;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4.8rem;
    color: white;
    cursor: pointer;
}
#botao-cta:active {
    background-color: #0d3b66;
}
#sobre, #empresa {
    position: absolute;
    top: 100vh;
    width: calc(100% - var(--base-margin)*2);
    height: 50%;
    background-color: transparent;
    backdrop-filter: contrast(125%) saturate(0) grayscale(100%) brightness(110%) blur(4px);
    font-size: 1.6rem;
    padding: calc(var(--base-distance)*4) var(--base-margin);
}
#empresa {
    top: calc(100vh + 50% + (var(--base-distance)*4));
}
#rodape {
    position: absolute;
    top: calc(100vh + 50%*2 + (var(--base-distance)*8) + 12.8rem);
    width: calc(100% - var(--base-margin)*2);
    height: 7.2rem;
    padding-left: var(--base-margin);
    padding-right: var(--base-margin);
    backdrop-filter: contrast(125%) saturate(0) grayscale(100%) brightness(110%) blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hamburger {
    border: none;
    outline: none;
    background: none;
}
#hamburger {
    display: none;
}
@media (min-width: 1920px) {
    :root {
        --base-text-size: 1.2rem;
    }
}
@media (min-width: 1200px) {
    li {
        /* I have to study this effect more */
        -webkit-mask: linear-gradient(#fff 0 0) text;
        mask: linear-gradient(#fff 0 0) text;
        
        transform: translateZ(0);
        backdrop-filter: blur(4px);
        filter: invert();
        //background: rgba(255, 255, 255, 0.1);

        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;

        background-size: 100%;
        isolation: isolate;
    }
    li::before {
        content: '';
        position: absolute;
        inset: 0;
        background: inherit;
        filter: blur(10px);
        z-index: -1;
    }
    .logo {
        filter: invert();
        -webkit-mask-image: url('ref/logo.svg');
        mask-image: url('ref/logo.svg');
        -webkit-mask-position: center;
        mask-position: center;
        background-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        backdrop-filter: blur(10px);
    }
    .logo img {
        opacity: 0;
    }
    #principal {
        font-size: 9rem;
    }
    #subtitulo {
        font-size: 5rem;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 32.1%;
    }
    ul {
        position: absolute;
        top: 12.8rem;
        left: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        display: none;
        flex-direction: column;
        padding: 1rem;
    }
    li {
        color: white;
    }
    #hamburger, .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #principal {
        font-size: 7.2rem;
    }
    #subtitulo {
        font-size: 3.6rem;
    }
    #botao-cta {
        top: calc(75vh - 7.8rem);
    }
    #sobre {
        top: calc(75vh);
    }
    #empresa {
        top: calc(75vh + 50% + var(--base-distance)*8);
    }
    #rodape {
        top: calc(75vh + 50%*2 + var(--base-distance)*12);
    }
}
@media (max-height: 768px) {
    :root {
        --base-text-size: .6rem;
    }
    #principal {
        top: 25%;
    }
    #subtitulo {
        top: calc(21% + var(--base-text-size)*12 + var(--base-distance));
    }
    #texto-chamada {
        top: calc(25% + var(--base-text-size)*12 + var(--base-text-size)*6 + var(--base-distance)*2);
    }
}
